{:deps {}
 :paths ["src" "resources"]
 :aliases
 {:svm
  ;; this library is "provided"
  {:extra-deps {org.graalvm.nativeimage/svm {:mvn/version "21.3.0"}}}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.6.3" :git/sha "4a1b53a"}
                 babashka/fs {:mvn/version "0.1.0"}
                 babashka/process {:mvn/version "0.0.2"}
                 io.github.slipset/deps-deploy {:sha "9b8db1f57722d19cf92de57ac7db28d71a915bcf"}}
          :ns-default build}
  :uber {:extra-paths ["test"]}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                      babashka/process {:mvn/version "0.0.2"}}
         :exec-fn cognitect.test-runner.api/test}}}
