name: Test and Deploy

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup GraalVM
        uses: DeLaGuardo/setup-graalvm@4.0
        with:
          graalvm: "21.2.0"
          java: java11

      - name: Setup Babashka
        uses: turtlequeue/setup-babashka@v1.3.0
        with:
          babashka-version: 0.6.0

      - name: Apply Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-graal-build-time-${{ hashFiles('deps.edn') }}
          restore-keys: "$graal-build-time-"

      - name: Setup build tools
        uses: ilammy/msvc-dev-cmd@v1

      - name: Run tests
        run: bb test

      - name: Run native tests
        run: bb native-image-test

  deploy:
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Babashka
        uses: turtlequeue/setup-babashka@v1.3.0
        with:
          babashka-version: 0.6.0

      - name: Apply Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-graal-build-time-${{ hashFiles('deps.edn') }}
          restore-keys: "$graal-build-time-"

      - name: Deploy to clojars
        env:
          CLOJARS_USERNAME: borkdude
          CLOJARS_PASSWORD: ${{ secrets.CLOJARS_ORG_TOKEN }}
        run: bb deploy
